.container-card-tour{
    flex-direction: column-reverse !important;
    margin-top: 20px;
}
#options-laratour > ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    margin: 10px 0 40px 0;
}
#options-laratour > ul > li > a{
    padding: 5px 10px;
    border: 2px solid #FFF;
    border-radius: 20px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    opacity: 0.2;
    transition: all 0.2s;
}
#options-laratour > ul > li > a:hover{
    opacity: 1;
}

main > .container > .text{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 23.1px;
    font-weight: 300;
    width: 70%;
}

@media (max-width: 600px) {
    main > .container > .text{
        width: 90%;
        font-size: 20px;
    }
}